*{
    /* background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1); */
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.aply_box{
    max-width: 600px;
    padding: 20px;
    background: rgb(5,2,56);
background: -moz-linear-gradient(257deg, rgba(5,2,56,1) 0%, rgba(4,8,185,1) 72%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(257deg, rgba(5,2,56,1) 0%, rgba(4,8,185,1) 72%, rgba(0,212,255,1) 100%);
background: linear-gradient(257deg, rgba(5,2,56,1) 0%, rgba(4,8,185,1) 72%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#050238",endColorstr="#00d4ff",GradientType=1);
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}